@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Elms Sans';
  font-style: normal;
  font-weight: 400;
  src: url('elms-sans-v7-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
	font-family: "Elms Sans";
	box-sizing: border-box;
	box-shadow: 0px 0px 0px 45vw ivory inset;
	border: 6px double #452104;
	border-radius: 2rem;
	padding: 1em 2vw;
	margin: 1vw auto;
	background: #F7AF74;
	color: #452104;
}
